.banner-image {
  width: 8%;
  float: left;
}

.site-name {
  font-size: 28px;
  margin-bottom: 0%;
  width: 35%;
  margin-right: 0%;
}

.name-under {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
}

.icons {
  float: right;
  margin-left: 15%;
  width: 35%;
  margin-right: 0%;
}

.clearfix {
  clear: both;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.name-under {
  margin-left: 5%;
  width: 45%;
  margin-right: 0%;
}

.banner {
  width: 45%;
  margin-left: 5%;
}

h1 {
  margin-bottom: 0%;
  margin-left: 5%;
  width: 45%;

}

.post-date {
  margin-top: 0%;
  float: left;
  margin-left: 5%;
  width: 45%;
}
.print {
  float: right;
  margin-left: 0%;
  margin-right: 5%;
}

.prnt-icon {
  float: right;
}

.choco {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
}

.main-text {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.ingredients {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-image: url("Images/list-bg.png");
  height: 300px;
}

.left-list {
  float: left;
  width: 40%;
  margin: 0%;
  list-style-type: square;
}

 .right-list {
   float: right;
   width: 50%;
   margin: 0%;
   list-style-type: square;
 }

 .user-pic {
   width: 5%;
   margin-left: 5%;
   float: left;

 }

.foot-text {
  text-align: center;
  color: rgb(163, 163, 163);
  clear: both;
}

.button {
  margin-right: 5%;
  width: 15%;
  background-color: red;
  text-decoration: none;
  color: white;
  padding: 5px;
  text-align: center;
  float: right;
}

.main-icons2 {
margin-left: 7px;
}

.clearfix-alternative {
float: left;
width: 35%;
margin-left: 5%;
}

.middle-img {
  float: left;
}

.text-left {
  float: left;
}

.header-end {
  width: 45%;
}

.button-fix {
  width: 45%;
  float: right;
}

.description {
  width: 50%;
}

.profile {
  width: 50%;
  margin-left: 5%;
  margin-right: 0%;
}

.below-table {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
